body {
    background: pink;
}
.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media screen and (min-width: 800px)  {
    .container {
        width: 800px;
        margin-top: 30px;
    }
}
table {
    background: LavenderBlush;
    border-spacing: 0;
    display: inline-table;
    border: 2px #2b2b2b solid;
    vertical-align: top;
}
th {
    font-size: 130%;
    color: HotPink;
}
td, th {
    border-left: 1px #2b2b2b dashed;
    border-top: 1px #2b2b2b dashed;
    text-align: center;
    padding: 2px;
}
td.no-left, th.no-left {
    border-left: 0;
}
td.no-top, th.no-top {
    border-top: 0;
}
caption {
    font-size: 120%;
    margin: 10px;
}
a {
    text-decoration: none;
}
a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: red;
}
